.login_wrapper {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_body {
  width: 360px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
}

.login_form {
  margin-top: 12px;
  padding: 24px;
}

.login_btn {
  width: 100%;
}
